// Main colours

$orangehover: #DE6C28;
$black: rgb(0, 0, 0);
$offblack: rgba(55, 49, 43, 0.84);
$offblackhover: #1D2B29;
$grey: rgb(112, 113, 110);
$white: rgb(255, 255, 255);
$whitealpha: rgba(255, 255, 255,0.7);

$lightseagreen: #EDEDE4;
$offwhite: #F9FAF7;
$coral: #B67450;
$deepgreen: #315C59;
$seagreen: #969F79;
$lightblue: #98B2C6;
$blue: #4F6F8D;
$mint: #57D398;
